/* line 1, ../sass/main.scss */
#header {
  margin-top: 20px;
}

/* line 2, ../sass/main.scss */
#page-container {
  margin-bottom: 20px;
}

/* line 3, ../sass/main.scss */
#url-rewriting-warning {
  display: none;
}

/* line 5, ../sass/main.scss */
.input.datetime {
  overflow: hidden;
}

/* line 6, ../sass/main.scss */
.input.datetime select {
  display: inline-block;
  width: 120px;
  margin: 0 5px;
}

/* line 7, ../sass/main.scss */
.input.datetime label {
  display: block;
}
