#header{margin-top:20px;}
#page-container{margin-bottom:20px;}
#url-rewriting-warning {display: none;}

.input.datetime {overflow:hidden}
.input.datetime select{display:inline-block;width:120px;margin:0 5px}
.input.datetime label{display:block}
